<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ptraing_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Order</label>
            <tab>ptraing</tab>
            <resource>Ptraing_CustomOrderNumber::config_system</resource>
            <group id="order_increment_id" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Increment ID</label>
                <field id="increment_id_prefix" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom increment ID prefix</label>
                </field>
            </group>
        </section>
    </system>
</config>
